
    form {
        
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
      }
    
      body {
        background-image: url(/images/inec.jpeg);
        padding: 20px;}
        fieldset {background-color: green; color: antiquewhite;}
        h1, p {background-color: white; text-align: center;}
        label {
            display: block;
            margin: 0.5rem 0; width:unset;
          }